:root{
    --cor: 221deg;
    --mais-claro: hsl(var(--cor) 75% 50%);
    --claro: hsl(var(--cor) 75% 45%);
    --medio: hsl(var(--cor) 74% 40%);
    --texto: white;
    --texto2: hsl(var(--cor) 100% 90%)
}

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--claro);
}

#apresentação {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;

    height: 500px;

    text-shadow: 0px 0px 5px black;
    color: white;
    
    border-radius: 0px 0px 0.5rem 0.5rem;
    background-image: url(imagens/banner.jpg);
    background-size: cover;
}

#anuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;

    background-color: var(--mais-claro);
    margin: 1rem;
    border-radius: 1rem;
    color: white;

    min-height: 200px;
}

#temas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    background-color: var(--mais-claro);
    margin: 1rem;
    border-radius: 1rem;
    color: white;

    min-height: 200px;
}

#temas #titulo {
    color: white;
    width: 100%;
    font-size: 2.5em;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1rem;
}

#temas a {
    background-color: var(--medio);
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1rem 3rem;
}

#hq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

    background-color: var(--mais-claro);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}

#hq .button-a {
    background-color: var(--medio);
    color: white;
    text-decoration: none;
    width: 70%;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1rem 3rem;
}

#hq img {
    width: 100%;
    max-width: 500px;
    border-radius: 1rem;
}

#fotos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    background-color: var(--mais-claro);
    margin: 1rem;
    border-radius: 1rem;
    color: white;

    min-height: 200px;
}

#fotos a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 1rem;

    background-color: var(--medio);
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1rem;
}

#fotos a img{
    max-width: 1em;
}